@import 'bootstrap';
/* common */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: black;
}
a{
  color: white !important;
}
a.navbar-brand{
  color: red !important;
}
/* utilities */
.card-img-top {
  height: 300px;
  object-fit: cover;
}
/* styling */

header{
  .navbar-brand{
    font-size: 2rem;
  }
}
